<div ng-include="'assets/html/navbarProfile.html'" id="navbar"></div>

<div class="container" align="center">

<div>
  <h1>Hi {{usersName}}!</h1>
</div>

<div id="videosTable">
  <table border="1" align="center" text-align="center">
    <thead>
      <tr>
        <th colspan="6"><h4>Your Playlist</h4>

        <button type="button" class="btn btn-danger" ng-click="getVideos();"><span class="glyphicon glyphicon-music
"></span> Load Your Playlist</button>

        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#add"><span class="glyphicon glyphicon-plus"></span> Add a video</button>

         <br />
         <br />
          
          <div id="add" class="collapse">
            <form>
              <div class="form-group">
                    <label for="videoTitle">Enter a Tilte</label>
                        <input type="text" class="form-control" id="videoTitle" placeholder="enter the clip title" ng-model="videoTitle" required>
                </div>
                <div class="form-group">
                    <label for="videoCategory">Enter a Category</label>
                        <input type="text" class="form-control" id="videoCategory" placeholder="enter the clip Category" ng-model="videoCategory" required>
                </div>
                <div class="form-group">
                    <label for="videoDescription">Enter a Description</label>
                        <input type="text" class="form-control" id="videoDescription" placeholder="enter the clip Description" ng-model="videoDescription">
                </div>
                <div class="form-group">
                    <label for="videoLink">Enter a Youtube Link</label>
                        <input type="text" class="form-control" id="videoLink" placeholder="enter the clip link" ng-model="videoLink" required>
                </div>
                <button type="button" class="btn btn-danger" ng-click="addVideo()" value="addVideo">Add now!</button>
            </form>
            <br />
          </div>
        </th>
      </tr>
    </thead>
    <tr>
  		<th>Title</th>
  		<th>Category</th>
  		<th>Description</th>
      <th>Play</th>
      <th>Edit</th>
  		<th>Delete</th>
  	</tr>
  	
  	<tr ng-repeat="item in videos">
  		<td>{{item.title}}</td>
  		<td>{{item.category}}</td>
  		<td>{{item.description}}</td>
  		<td>
  			<button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-play"></span>PLAY</button>
      </td>
      
      <td>
        <button class="btn-small btn-danger" data-toggle="collapse" data-target="#edit"><span class="glyphicon glyphicon-cog"></span> Edit Details</button>
      </td>

      <td>  
        <button class="btn-small btn-danger" ng-click="removeVideo();" ><span class="glyphicon glyphicon-remove"></span> Delete Video</button>
      </td>
  	</tr>

  </table>
</div>
























<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div data-ng-controller="ProfileController" data-ng-init="getName()"></div>